body {
  background-color: #262730;
}

.header-bg {
  background-color: #c8e087;
}

.inventory-bg {
  background-color: #95a472;
}

.upgrade-bg {
  background-color: #ddfcad;
}

.upgrade-btn-bg {
  background-color: #82846d;
}

.auto-btn-bg {
  background-color: #003b36;
}

.moon-image {
  cursor: pointer;
}

.resource-table-display {
  /* min-width: 80vh; */
  background-color: #95a472;
  color: black;
  flex-direction: column;
}

.button-column {
  flex-direction: column;
}

.multiplier-bg {
  background-color: #77ba99;
}